{% load static wagtailuserbar menu_tags %}

{% get_menu "main-nav" as navigation %}

<!DOCTYPE html>
<html>

{% block head %}
    {% include "includes/head.html" %}
{% endblock head %}

<body class="{% block body_class %}{% endblock %}">

  {% block header %}
    {% include "includes/header.html" %}
  {% endblock header %}

  {% block content %}{% endblock %}

  {% block extra_js %}
            {# Override this in templates to add extra javascript #}
  {% endblock %}

  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock footer %}

  <!-- Scripts -->
  <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>

</body>

</html>