{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags %}
{% block content %}
<div class="page-content">
    <div class="wrapper">
      <div class="page">
          <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
          </header>

          <div class="profile">
              {% image page.profile_pic fill-220x220 %}
              <!--<a href="{{ page.resume.url }}" target="_blank">Resume</a>-->
          </div>
          <br>
          <article class="post-content">{{ page.body }}</article>
      </div>
    </div>
</div>
{% endblock %}