<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Portfolio</title>
  <meta name="description" content="">

  <meta name="author" content="Sandeep Chauhan">
  <meta name="copyright" content="&copy; Sandeep Chauhan 2018">


  <!-- External libraries -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/monokai-sublime.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css">

  <!-- Facebook OGP cards -->
  <!--<meta property="og:description" content="" />-->
  <!--<meta property="og:url" content="http://sandeepsajan0.github.io" />-->
  <!--<meta property="og:site_name" content="Sandeep Chauhan" />-->
  <!--<meta property="og:title" content="Sandeep Chauhan" />-->
  <!--<meta property="og:type" content="website" />-->
  <!--<meta property="og:image" content="http://sandeepsajan0.github.io/assets/sandeeplogo.png" />-->
  <!--<meta property="og:image:type" content="image/png" />-->
  <!--<meta property="og:image:width" content="612" />-->
  <!--<meta property="og:image:height" content="605" />-->



  <!-- Twitter: card tags -->
  <!--<meta name="twitter:card" content="summary">-->
  <!--<meta name="twitter:title" content="Sandeep Chauhan">-->
  <!--<meta name="twitter:description" content="">-->
  <!--<meta name="twitter:image" content="http://sandeepsajan0.github.io/assets/sandeeplogo.png">-->
  <!--<meta name="twitter:url" content="http://sandeepsajan0.github.io">-->




  <!-- Site styles -->
  <link rel="stylesheet" href="/static/css/mysite.css">
  <!--<link rel="canonical" href="http://sandeepsajan0.github.io/">-->
  <!--  <link rel="alternate" type="application/rss+xml" title="Sandeep Chauhan" href="http://sandeepsajan0.github.io/feed.xml" />-->
</head>